.forgot-password-container {
     height: 100vh;
     background-color: #dde5f4;
     .forgot-password-content {
          height: 300px;
          width: 350px;
          margin: auto;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border: none;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.8);
          .title-forget-password {
               text-transform: uppercase;
               text-align: center;
               font-weight: 600;
               font-size: 20px;
               margin-bottom: 25px;
               margin-top: 25px;
          }
          .input-info-forgot-password {
               padding: 5px 10px;
               label {
                    color: rgba(0, 0, 0, 0.5);
               }
               .input-email {
                    .content-email {
                    }
               }
               .btn-container {
                    margin-top: 30px;
                    .submit-form-forgot-password {
                         width: 100%;
                         border: none;
                         padding: 6px;
                         background-color: #3d457f;
                         border-radius: 5px;
                         color: white;
                    }
               }
          }
     }
}
